{% extends 'base.html' %}

{% block title %}Sobre Nós - DSE Segurança Eletrônica e Serviços LTDA{% endblock %}

{% block content %}
<h1 class="mb-4">Sobre a DSE</h1>
<p>A DSE Segurança Eletrônica e Serviços LTDA nasceu da paixão por inovação e do compromisso com a segurança e a excelência em serviços. Desde nossa fundação em Fortaleza, Ceará, temos nos dedicado a oferecer as melhores soluções em instalações elétricas, sistemas de segurança eletrônica e manutenção predial, atendendo às necessidades de residências, empresas e indústrias.</p>

<h2>Nossa Missão</h2>
<p>Ser a parceira de confiança de nossos clientes, proporcionando segurança, conforto e tranquilidade através de serviços de alta qualidade, tecnologia de ponta e um atendimento diferenciado.</p>

<h2>Nossos Valores</h2>
<ul>
    <li><strong>Compromisso com a Qualidade:</strong> Buscamos a excelência em cada projeto, utilizando materiais de primeira linha e técnicas apuradas.</li>
    <li><strong>Segurança:</strong> A segurança de nossos clientes e colaboradores é nossa prioridade máxima.</li>
    <li><strong>Inovação:</strong> Estamos sempre atualizados com as últimas tendências e tecnologias do mercado.</li>
    <li><strong>Transparência e Ética:</strong> Conduzimos nossos negócios com honestidade e clareza.</li>
    <li><strong>Satisfação do Cliente:</strong> Nosso maior objetivo é superar as expectativas de quem confia em nossos serviços.</li>
</ul>

<p class="mt-4">Nossa equipe é composta por eletricistas, técnicos em segurança eletrônica e alpinistas industriais altamente qualificados e certificados, prontos para oferecer soluções personalizadas para cada desafio.</p>
<p>Confie na DSE para um futuro mais seguro e eficiente!</p>
{% endblock %}